{{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.nomReponse, 'Nom de la réponse') }}
    {{ form_widget(form.nomReponse, {'attr': {'class': 'form-control'}}) }}
  </div>

  <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
