{% extends 'base.html.twig' %}

{% block title %}Questionnaire index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="text-center">Questionnaire index</h1>

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom Questionnaire</th>
                            <th scope="col">Theme</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for questionnaire in questionnaires %}
                            <tr>
                                <td>{{ questionnaire.id }}</td>
                                <td>{{ questionnaire.nomQuestionnaire }}</td>
                                <td>{{ questionnaire.theme }}</td>
                                <td>
                                    <a href="{{ path('app_questionnaire_crud_controlleur_show', {'id': questionnaire.id}) }}" class="btn btn-primary btn-sm mr-2">Show</a>
                                    <a href="{{ path('app_questionnaire_crud_controlleur_edit', {'id': questionnaire.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_questionnaire_crud_controlleur_new') }}" class="btn btn-success float-right">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
