{% extends 'base.html.twig' %}

{% block title %}Start Questionnaire{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">{{ questionnaire.nomQuestionnaire }}</h1>

        <form action="{{ path('app_questionnaire_score', {'id': questionnaire.id}) }}" method="post">
            {% for question in questionnaire.questions %}
                <div class="card my-4">
                    <div class="card-header">{{ question.nomQuestion }}</div>
                    <div class="card-body">
                        {% for reponse in question.reponses %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="answer_{{ reponse.id }}" name="answer_{{ question.id }}" value="{{ reponse.id }}">
                                <label class="form-check-label" for="answer_{{ reponse.id }}">{{ reponse.nomReponse }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
